@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

html, body{
	background: #CFD8DC;
	width:100%;
	height:100%;
	margin:0px;
	font-family: 'Source Sans Pro', sans-serif;
}

body{
	  background-image:url('https://images-assets.nasa.gov/image/6900952/6900952~orig.jpg');
	  background-size: cover;
		display: flex;
		flex-direction:column;
		justify-content:center;
	  align-items:center;
		color: #000;
}

section{
	background: #FAFAFA;
	width:25%;
	min-height:25%;
	display:flex;
	flex-direction:column;
	border-radius: 0.5rem;
	/*margin-left:auto;
	margin-right:auto;*/
}
form{
	background: rgba(0, 0, 0, 0.05);
	display:flex;
	flex-direction:column;
	padding: 15px; 
}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	color:#42b883;
	margin-left:auto;
	margin-right:auto;
	font-weight: normal;
}

.info{
	width:100%;
	padding 1em 5px;
	text-align:center;
	min-height:25px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.info.error{
	border:1px solid #a90e0;
	background-color: #ff3c41;
	color:#a90e0;
}
.info p{
	margin:auto;
	padding:5px;
}
.info.good{
	border:1px solid #416d50;
	background-color: #47cf73;
	color:#416d50;
}

input{
	height:35px;
	margin: 10px 0px;
	background-color:rgba(0, 0, 0, 0.05);
	border:none;
	border-radius: 290486px;
	padding: 5px 13px;
}
.enviar{
	height:40px;
	padding: 5px 5px;
	margin: 10px 0px;
	font-weight:bold;
	background-color:#42b883;
	border:none;
	color:#e0dada;
	cursor:pointer;
	font-size:16px;
	text-align: center;
	line-height: 40px;
}
button:hover{
	background-color:#437c63;
}

@-webkit-keyframes shake{
	from, to{
		-webkit-transform: translate3d(0, 0, 0);
		transform:translate3d(0,0,0);
	}
	10%,30%,50%,70%,90%{
		-webkit-transform: translate3d(-10px, 0, 0);
		transform:translate3d(-10px,0,0);
	}
	20%,40%,60%,80%{
		-webkit-transform: translate3d(10px, 0, 0);
		transform:translate(10px,0,0);
	}
}

.shake{
	animation-name: shake;
	animation-duration:1s;
	/*animation-fill-mode: both;*/
}

@media screen and (max-width: 780px) {
	section{
		width:90%;
	}
}