<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Show da segurança</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="../includes/css/style.css">
  
</head>

<body>

  
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet"/>
<h1>Show da segurança</h1>
<h4>Escolha o modo de jogo</h4>
<script id="v-carousel" type="x/template">
  <div class="card-carousel-wrapper">
    <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>
    <div class="card-carousel">
      <div class="card-carousel--overflow-container">
        <div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}">
          <div class="card-carousel--card" v-for="item in items"><img src="../includes/imgs/play.png"/>
              <div class="card-carousel--card--footer">
                <a :href="item.link">
                  <p>{{ item.name }}</p>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>
  </div>
</script>
<div id="app"> 
  <carousel></carousel>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

  

    <script  src="../includes/js/index.js"></script>




</body>

</html>
